@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* SECTION: BASE */
:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext-1: #bac2de;
    --subtext-0: #a6adc8;
    --overlay-2: #9399b2;
    --overlay-1: #7f849c;
    --overlay-0: #6c7086;
    --surface-2: #585b70;
    --surface-1: #45475a;
    --surface-0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0 auto;
    height: 100%;
    font: 100%/1.5 "Ubuntu";
    background-color: var(--base);
    color: var(--text);
}

@media (min-width: 768px) {
    html {
        padding: 1.5em;
        max-width: 42em;
        font-size: 125%;
    }
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:hover, a:active, a:focus {
    text-decoration: underline; 
}

h1, h2, h3, h4, h5, h6 {
    margin: 2.5rem 0 1.5rem 0;

}

/* SECTION: LAYOUT */
.float-right {
    float: right;
}

.grid-stacked {
    display: grid;
    gap: 1em;
}

.clear {
    clear: both;
}

/* SECTION: MODULE */
.navbar {
    display: flex;
    gap: 2em;
}

/* SECTION: STATE */

